.header{
    background: #263159;
    padding: 0.5em;
    margin-bottom: 5em;
    
}

.inner-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    margin: 0 0.7em;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFBEB;
}

.user{
    display: flex;
    align-items: center;
    color: #FFFBEB;
}

.user img {
    margin-left: 0.5em;
}